In [1]:
import numpy as numpy
import pandas as pd

In [2]:
csv_a = input("Enter the full path of the first Budget Data file for your CSV: ")
csv_path_a = str(csv_a)
csv_path_a

Enter the full path of the first Budget Data file for your CSV: resources/budget_data1.csv

'resources/budget_data1.csv'

In [3]:
csv_b = input("Enter the full path of the first Budget Data file for your CSV: ")
csv_path_b = str(csv_b)
csv_path_b

Enter the full path of the first Budget Data file for your CSV: resources/budget_data1.csv

'resources/budget_data1.csv'

In [6]:
bf_a = pd.read_csv(csv_path_a, encoding="utf-8")
bf_a.head()

       Date  Revenue
0  Jan-2010  1050663
1  Feb-2010   910623
2  Mar-2010  1048424
3  Apr-2010   115335
4  May-2010   401046

In [7]:
bf_b = pd.read_csv(csv_path_b, encoding="utf-8")
bf_b.head()

merge_bd = pd.merge(bf_a, bf_b, on="Date")
merge_bd

        Date  Revenue_x  Revenue_y
0   Jan-2010    1050663   -1032659
1   Feb-2010     910623     640622
2   Mar-2010    1048424     911016
3   Apr-2010     115335     379117
4   May-2010     401046      87018
5   Jun-2010    1128394     879056
6   Jul-2010     367584     809464
7   Aug-2010     646679     992411
8   Sep-2010      87562     373673
9   Oct-2010     452244     922425
10  Nov-2010      94796     390223
11  Dec-2010     636482     158417
12  Jan-2011    1073499     811569
13  Feb-2011     157770     434096
14  Mar-2011     504110    1073776
15  Apr-2011     634320     621648
16  May-2011     786690     974857
17  Jun-2011     407170     741863
18  Jul-2011     310763     568679
19  Aug-2011      95840     857452
20  Sep-2011     217244   -1033554
21  Oct-2011    -140156    -173359
22  Nov-2011     905989     204375
23  Dec-2011     558694     924579
24  Jan-2012    1017542     709443
25  Feb-2012     999668     231354
26  Mar-2012    1125728    1044345
27  Apr-2012     502766     756307
28  May-2012     618969    1127232
29  Jun-2012     833404     924627
..       ...        ...        ...
56  Sep-2014     580723     164182
57  Oct-2014    1033033    -922229
58  Nov-2014     694678     812371
59  Dec-2014    -921907    -223099
60  Jan-2015    1184256     748879
61  Feb-2015     453080      75458
62  Mar-2015      50065    -859950
63  Apr-2015    1063053     631891
64  May-2015     668026    1066082
65  Jun-2015     311107     268404
66  Jul-2015   -1176685     855184
67  Aug-2015    1052543     518449
68  Sep-2015     502308     462131
69  Oct-2015    -881311     204200
70  Nov-2015    1177144     287044
71  Dec-2015    1041748     197884
72  Jan-2016     530627      52510
73  Feb-2016     450737     463923
74  Mar-2016   -1018419     703609
75  Apr-2016     987035    -958919
76  May-2016    1056718      61127
77  Jun-2016     119304     228989
78  Jul-2016     317119    1179778
79  Aug-2016    -838290    -700214
80  Sep-2016   -1000479     363751
81  Oct-2016     650431    1044884
82  Nov-2016    -562514     112689
83  Dec-2016     628996     252334
84  Jan-2017     409771     608626
85  Feb-2017     835787    -184006

[86 rows x 3 columns]