In [2]:
import numpy as np
import pandas as pd

In [7]:
csv = input("Enter the full path of the first Budget Data file for your CSV: ")
csv_path = str(csv)
csv_path

Enter the full path of the first Budget Data file for your CSV: resources/budget_data1.csv

'resources/budget_data1.csv'

In [9]:
bf = pd.read_csv(csv_path, encoding="utf-8")
print(bf.dtypes)

bf["Date"] = bf["Date"].str.replace("-20","-")
bf.head()

Date       object
Revenue     int64
dtype: object

     Date  Revenue
0  Jan-10  1050663
1  Feb-10   910623
2  Mar-10  1048424
3  Apr-10   115335
4  May-10   401046

In [11]:
months = bf["Date"].nunique()
print("Total Months: "+'{:,}'.format(months))
bd_trev = bf["Revenue"].sum()
print("Total Revenue: $"+'{:,}'.format(bd_trev))
avg_rev= int(bf["Revenue"].mean())
print("Average Revenue Change: $"+'{:,}'.format(avg_rev))


bd_maxrev = bf["Revenue"].max()   
max_rev=bf.loc[bf["Revenue"] == bd_maxrev,:]

print("Greatest Increase in Revenue: "+max_rev["Date"]+" ($"+'{:,}'.format(bd_maxrev)+")")

bd_minrev = bf["Revenue"].min()
min_rev=bf.loc[bf["Revenue"] == bd_minrev,:]
"Greatest Decrease in Revenue: "+min_rev["Date"]+" ($"+'{:,}'.format(bd_minrev)+")"

Total Months: 86
Total Revenue: $41,148,875
Average Revenue Change: $478,475
60    Greatest Increase in Revenue: Jan-15 ($1,184,256)
Name: Date, dtype: object

66    Greatest Decrease in Revenue: Jul-15 ($-1,176,...
Name: Date, dtype: object